/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Variables globales 

Este css está pensado para alcanzar un diseño globalizado centralizado, modificar como gusten (anteriormente era el index.css)
*/
:root {
  /* Color palette */

  /* TODO: ELIMINAR ESTOS COLORES SI TODAS LAS PAGES MIGRAN A LOS NUEVOS NOMBRES */
  --light-primary: #1b2a41;
  --light-container: #3e4c59;
  --light-link: #00a8e8;
  --light-hover: #7d5ba6;
  --light-gradient: linear-gradient(
    180deg,
    #fff 0%,
    #315285 109.46%,
    #152338 227.69%
  );

  /* New names for light colors (default colors) */
  --primary: #1b2a41;
  --container: #3e4c59;
  --link: #00a8e8;
  --hover: #7d5ba6;
  --gradient-landing: radial-gradient(
    #fff 0%,
    #315285 48%,
    #152338 100%
  );
  --gradient: linear-gradient(
    180deg,
    #fff 0%,
    #315285 109.46%,
    #152338 227.69%
  );
  --error-msg: #fb3836;
  --host-color: #7c7e91;

  /* dark colors names */
  --dark-primary: #1a0d0d;
  --dark-container: #2c1a1a;
  --dark-link: #d72638;
  --dark-hover: #b28d8d;
  --dark-gradient-landing: radial-gradient(
    #ffff 40%,
    #FF5A5D 100%
  );
  --dark-gradient: linear-gradient(
    180deg,
    #7b7b7b 0%,
    #2c1a1a 109.46%,
    #1a0d0d 227.69%
  );
  --dark-error-msg: #8a38f5;
  --dark-host-color: #917c7c;

  /* Typography */
  --font-heading: "Ubuntu", sans-serif;
  --font-body: "Nunito", sans-serif;

  /* Base */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===========================
   DARK MODE OVERRIDES
   =========================== */
.dark-mode {
  --primary: var(--dark-primary);
  --container: var(--dark-container);
  --link: var(--dark-link);
  --hover: var(--dark-hover);
  --gradient-landing: var(--dark-gradient-landing);
  --gradient: var(--dark-gradient);
  --error-msg: var(--dark-error-msg);
  --host-color: var(--dark-host-color);
}

/* Base global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-body);
}

/* Headings */
h1,
h2,
h3 {
  font-family: var(--font-heading);
  padding-bottom: 3%;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

/* Text styles */
.bodyL {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.bodyS {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.caption {
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

/* Links */
a,
.link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: underline;
  color: var(--link);
}
a:hover,
.link:hover {
  color: var(--hover);
}

/* Media query para tema claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  .link:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Dark mode class */
.dark-mode {
  --light-primary: var(--dark-primary);
  --light-hover: var(--dark-hover);
}
